.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-day {
  background:linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF); /*sunny*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(47,52,62,1) 49%, rgba(89,89,97,1) 68%, rgba(97,98,96,1) 98%, rgba(134,128,129,1) 100%); /* nighttime */
  /* background: radial-gradient(circle, rgba(161,161,161,1) 0%, rgba(179,170,172,1) 2%, rgba(34,41,55,1) 4%, rgba(89,89,97,1) 72%, rgba(97,98,96,1) 100%);foggy, cloudy, rainy */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
